/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
	chosen {
		zephyr,display = &dummy_dc;
	};

	gc9a01: gc9a01 {
        cs-gpios = <&gpio0 2>;
        gpio-active-low;
		compatible = "zephyr,gc9a01";
        status = "okay";
        spi-max-frequency = <8000000>;
        reg = <0>;
        width = <240>;
        height = <240>;
        bl-gpios = <&gpio0 6>;
        gpio-active-high;
        reset-gpios = <&gpio0 13>;
        gpio-active-high;
        dc-gpios = <&gpio0 20>;
        gpio-active-high;
	};
};