# Need to do changes suitable for Mindgrove's plic
# Copyright (c) 2025 Mindgrove Technologies Private Limited.
# SPDX-License-Identifier: Apache-2.0

config MINDGROVE_PLIC
	bool "Platform Level Interrupt Controller (PLIC)"
	default y
	help
	  Platform Level Interrupt Controller provides support
	  for external interrupt lines defined by the RISC-V SoC.
