#
# Copyright 2021 Huawei France Technologies SASU
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_FAMILY_MINDGROVE
	bool

config SOC_FAMILY
	default "mindgrove" if SOC_FAMILY_MINDGROVE

rsource "*/Kconfig.soc"
