# seciot SPI Driver configuration options

# Copyright (c) 2024 seciot Inc.
# SPDX-License-Identifier: Apache-2.0

config SPI_SECIOT
	bool "seciot SPI controller driver"
	default y
	help
	  This option enables the seciot spi driver.

config SPI_INIT_PRIORITY
	int "SPI init priority"
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  SPI driver device initialization priority.