# Mindgrove SPI Driver configuration options

# Copyright (c) 2025 Mindgrove Technologies Private Limited.
# SPDX-License-Identifier: Apache-2.0

config SPI_MINDGROVE
	bool "Mindgrove SPI controller driver"
	default y
	help
	  This option enables the Mindgrove spi driver.

config SPI_INIT_PRIORITY
	int "SPI init priority"
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  SPI driver device initialization priority.