#
# Copyright (c) 2025 Mindgrove Technologies Private Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig UART_MINDGROVE
	bool "Mindgrove serial driver"
	depends on SOC_RISCV64_SHAKTI
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	help
	  This option enables the Mindgrove's Serial Driver.

# ---------- Port 0 ----------

menuconfig UART_SHAKTI_PORT_0
	bool "Enable MINDGROVE Port 0"
	depends on UART_MINDGROVE
	help
	  This tells the driver to configure the UART port at boot, depending on
	  the additional configure options below.

config UART_SHAKTI_PORT_0_IRQ_PRIORITY
	int "Port 0 Interrupt Priority"
	default 1
	depends on UART_SHAKTI_PORT_0
	help
	  Port 0 Interrupt Priority

config UART_SHAKTI_PORT_0_RXCNT_IRQ
	int "Port 0 RX Interrupt Threshold Count"
	default 0
	depends on UART_SHAKTI_PORT_0
	help
	  Port 0 RX Threshold at which the RX FIFO interrupt triggers.

config UART_SHAKTI_PORT_0_TXCNT_IRQ
	int "Port 0 TX Interrupt Threshold Count"
	default 0
	depends on UART_SHAKTI_PORT_0
	help
	  Port 0 TX Threshold at which the TX FIFO interrupt triggers.

