config ENTROPY_MINDGROVE_TRNG
    bool "Mindgrove TRNG driver"
    default y
    depends on DT_HAS_MINDGROVE_TRNG_ENABLED
    select ENTROPY_HAS_DRIVER
    help
      Enable support for the Mindgrove True Random Number Generator.