# Copyright (c) 2025 Mindgrove Technologies Private Limited.
# SPDX-License-Identifier: Apache-2.0

config PWM_MINDGROVE
	bool "Mindgrove Silicon's PWM driver"
	default y
	help
	  Enable the PWM driver for the Mindgrove Freedom platform
