# seciot Freedom PWM configuration options

# Copyright (c) 2018 seciot Inc.
# SPDX-License-Identifier: Apache-2.0

config PWM_SECIOT
	bool "Mindgrove Silicon Secure-iot-SoC PWM driver"
	default y
	help
	  Enable the PWM driver for the seciot Freedom platform
